/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.zip
*.tar.gz

/public/phpmyadmin
/logs/error.log
.lh/
.vscode/

test-extract/
Design/
.sass-cache/*
*.scssc
.idea
_ide_helper.php
.phpstorm.meta.php
attc*

public/att*
/attc*
Design

public/server.php
public/files


public/light-bootstrap/sass/*

*.lst

